<!DOCTYPE html>

<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="container products-wrapper formularios">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Editar mi perfil</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12">
        <form method="get" action="/usuarios/perfil" class="forms">
            <label>Email</label>
            <input type="email" name="Email">
            <br>
            <label>usuario</label>
            <input type="text" name="usuario">
            <br>
            <label>Contraseña</label>
            <input type="password" name="Contraseña">
            <br>
            <label>Fecha de Nacimiento</label>
            <input type="date" name="Fecha">
            <br>
            <label>Numero de Documento</label>
            <input type="number" name="Documento">
            <br>
            <label>Foto de Perfil</label>
            <input type="file" name="Foto">
            <br>
            <button type="submit">Editar perfil</button>
        </form>
    </h2>
    </div>
</div>

<%- include("./partials/footer") %>

</html>
