<!DOCTYPE html>

<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Editar mi perfil</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"></h2>
        <form method="get" action="">
            <label>Email</label>
            <input type="email" name="Email">
            <label>usuario</label>
            <input type="text" name="usuario">
            <label>Contrasena</label>
            <input type="password" name="Contrasena">
            <label>Fecha de Nacimiento</label>
            <input type="date" name="Fecha">
            <label>Numero de Documento</label>
            <input type="number" name="Documento">
            <label>Foto de Perfil</label>
            <input type="file" name="Foto">
            <button type="submit">Registrarse</button>
        </form>

<%- include("./partials/footer") %>

</html>
